body {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.index-container {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}

.additional-sections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}
